body. h1, h2. ul. li {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #1a1a1a 30%, #ffffff 30%);
}

#app {
    padding 
}